* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;

  width: 100vw;
  height: 100vh;

  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2.5px);

  background-color: rgb(14, 69, 187);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main {
  grid-column: 3;
  padding: 0px 60px;

  box-sizing: border-box;
  background-color: rgb(255, 255, 255);

  box-shadow: -20px 0px 100px rgb(0, 0, 0);

  padding-top: 30%;
}

.gradient-text {
  background: linear-gradient(to right, #0b3b8a, #1b72ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-top: 30px;
}

.label-input {
  font-family: "Inter";
  padding-left: 2px;
  margin-bottom: 3px;
  font-size: 16px;
}

.input-area {
  font-family: "Inter";

  width: 90%;
  height: 32px;
  padding: 4px 6px;
  margin-bottom: 8px;

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.568);

  transition: 0.2s all;
}

.input-area:hover,
.input-area:focus {
    outline: 2px solid #0f5ad3;
    border: none;
    transform: scale(1.005);
}

textarea.input-area {
  height: 150px;
  min-height: 32px;
  max-height: 150px;
  resize: vertical;
  padding: 8px 6px;
}

.btn-submit {
  font-family: "Inter";
  font-weight: bold;
  width: 9rem;
  height: 2.6rem;
  justify-self: center;

  font-size: 16px;
  align-self: center;
  margin-top: 24px;

  background-color: white;
  color: #0f5ad3;
  border: 2px solid #0f5ad3;
  border-radius: 2em;

  transition: all 0.2s;
}

.btn-submit:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.356);
  transform: scale(1.03);
  background-color: #0f5ad3;
  color: white;
}

/* aviso CSS */

.notification {
  visibility: hidden; /* Oculto por padrão */
  position: fixed;

  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px 15px 15px ;

  background-color: #4caf4fb7; /* Verde */
  border-bottom: 3px solid #15ce1b;
  border-radius: 6px 6px 0px 0px;
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);

  font-size: 16px;
  font-family: "Inter";

  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  cursor: default;
}

.notification-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

